# Systemd unit file for tomcat
[Unit]
Description=Apache Tomcat Web Application Container
After=syslog.target network.target

[Service]
Type=forking

Environment=CATALINA_PID=/opt/tomcat/{tomcat_version}/temp/tomcat.pid
Environment=CATALINA_HOME=/opt/tomcat/{tomcat_version}
Environment=CATALINA_BASE=/opt/tomcat/{tomcat_version}

ExecStart=/opt/tomcat/{tomcat_version}/bin/startup.sh
ExecStop=/bin/kill -15 $MAINPID

User=tomcat_as
Group=tomcat_as_group
UMask=0007

[Install]
WantedBy=multi-user.target
